body {
    padding: 30px 30%;
}

h1{
    font-size: 32px;
    font-weight: bolder ;
}

form {
    font-size: 1.5rem;
    background-color: grey;
    color: darkblue
}

form1 div{
    margin: auto;
}
form1 textarea{
    width: 100%;
}

fieldset/div/div[1]/label

.choice{
    color: red;
}